<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yogandrn.foodmarket.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FoodMarket"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="FoodMarket"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FoodMarketKotlin.noActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.profile.editaddress.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.orderdetail.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>